{% block content %}
<div class="applet" title="cvrf">
    <div class="applet" title="CISCO">
        <a href="/cvrf/cisco/catalog"
        <table><tr>
        <td style="vertical-align:middle;"><img src="/static/icons/cisco-small.png" width="32px" height="32px"></td>
        <td style="vertical-align:middle;">{% include "arrow130.svg" %}</td>
        <td style="vertical-align:middle;">{% include "list18.svg" %}</td>
        <td style="vertical-align:middle;"> CISCO CVRF</td>
        </tr></table>
    </div>
    <div class="applet" title="Microsoft">
        <a href="/cvrf/microsoft/catalog"
        <table><tr>
        <td style="vertical-align:middle;"><img src="/static/icons/msrc-small.jpeg" width="32px" height="32px"></td>
        <td style="vertical-align:middle;">{% include "arrow130.svg" %}</td>
        <td style="vertical-align:middle;">{% include "list18.svg" %}</td>
        <td style="vertical-align:middle;"> Microsoft CVRF</td>
        </tr></table>
    </div>
    <div class="applet" title="Oracle">
        <a href="/cvrf/oracle/catalog"
        <table><tr>
        <td style="vertical-align:middle;"><img src="/static/icons/oracle-small.png" width="32px" height="32px"></td>
        <td style="vertical-align:middle;">{% include "arrow130.svg" %}</td>
        <td style="vertical-align:middle;">{% include "list18.svg" %}</td>
        <td style="vertical-align:middle;"> Oracle CPU CVRF</td>
        </tr></table>
    </div>
    <div class="applet" title="Red Hat">
        <a href="/cvrf/redhat/catalog"
        <table><tr>
        <td style="vertical-align:middle;"><img src="/static/icons/redhat-small.jpeg" width="32px" height="32px"></td>
        <td style="vertical-align:middle;">{% include "arrow130.svg" %}</td>
        <td style="vertical-align:middle;">{% include "list18.svg" %}</td>
        <td style="vertical-align:middle;"> Red Hat RHSA CVRF</td>
        </tr></table>
    </div>
</div>
{% endblock %}
