{% block content %}
	<div class="applet" title="cvrf">
		<div class="applet" title="CISCO">
			<p><a href="/cvrf/cisco/catalog"><img src="/static/icons/cisco-small.png" width="32px"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
<polygon points="30,16 16,2.001 16,10 2,10 2,22 16,22 16,30 "/>
</svg>
<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
<g>
	<rect x="10" y="4" width="20" height="2"/>
	<rect x="10" y="14" width="20" height="2"/>
	<rect x="10" y="24" width="20" height="2"/>
	<rect x="2" y="24" width="6" height="6"/>
	<rect x="2" y="14" width="6" height="6"/>
	<rect x="2" y="4" width="6" height="6"/>
</g>
</svg>
</a>
CISCO CVRF
</p>
		</div>
		<div class="applet" title="Microsoft">
			<p><a href="/cvrf/microsoft/catalog"><img src="/static/icons/msrc-small.jpeg" width="32px"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
<polygon points="30,16 16,2.001 16,10 2,10 2,22 16,22 16,30 "/>
</svg>
<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
<g>
	<rect x="10" y="4" width="20" height="2"/>
	<rect x="10" y="14" width="20" height="2"/>
	<rect x="10" y="24" width="20" height="2"/>
	<rect x="2" y="24" width="6" height="6"/>
	<rect x="2" y="14" width="6" height="6"/>
	<rect x="2" y="4" width="6" height="6"/>
</g>
</svg>
</a>
Microsoft MSRV CVRF
</p>
		</div>
		<div class="applet" title="Oracle">
			<p><a href="/cvrf/oracle/catalog"><img src="/static/icons/oracle-small.png" width="32px"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
<polygon points="30,16 16,2.001 16,10 2,10 2,22 16,22 16,30 "/>
</svg>
<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
<g>
	<rect x="10" y="4" width="20" height="2"/>
	<rect x="10" y="14" width="20" height="2"/>
	<rect x="10" y="24" width="20" height="2"/>
	<rect x="2" y="24" width="6" height="6"/>
	<rect x="2" y="14" width="6" height="6"/>
	<rect x="2" y="4" width="6" height="6"/>
</g>
</svg>
</a>
Oracle CPU CVRF
</p>
		</div>
		<div class="applet" title="Red Hat">
			<p><a href="/cvrf/redhat/catalog"><img src="/static/icons/redhat-small.jpeg" width="32px"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
<polygon points="30,16 16,2.001 16,10 2,10 2,22 16,22 16,30 "/>
</svg>
<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
<g>
	<rect x="10" y="4" width="20" height="2"/>
	<rect x="10" y="14" width="20" height="2"/>
	<rect x="10" y="24" width="20" height="2"/>
	<rect x="2" y="24" width="6" height="6"/>
	<rect x="2" y="14" width="6" height="6"/>
	<rect x="2" y="4" width="6" height="6"/>
</g>
</svg>
</a>
Red Hat RHSA CVRF
</p>
		</div>
	</div>
{% endblock %}