<html>
<head>
<style>
table {
        margin-bottom:50px;
}
th {
        background:#5f9be3;
        color:#fff;
        font-weight:bold;
        padding:5px; 
        /* width:300px;
        float:right;  */
}

td {
        /*padding-left:10px;*/
}
</style>
</head>
<body>
<div>
<table width="90%">
<tr><th width="17%">Document Title: </th><td>{{ test.DocumentTitle.valueOf_ }}</td></tr>
<tr><th>Document Type: </th><td>{{ test.DocumentType.valueOf_ }}</td></tr>
<tr><th>Aggregate Severity: </th><td>{{ test.AggregateSeverity.valueOf_ }}</td></tr>
<tr><th>Publisher Type: </th><td>{{ test.DocumentPublisher.Type}}</td></tr>
<tr><th>Publisher ID: </th><td>{{ test.DocumentPublisher.PublisherID.valueOf_ }}</td></tr>
<tr><th>Contact Details:  </th><td>{{ test.DocumentPublisher.ContactDetails.valueOf_ }}</td></tr>
<tr><th>Issuing Authority:  </th><td>{{ test.DocumentPublisher.IssuingAuthority.valueOf_ }}</td></tr>
<tr><th>Tracking ID:  </th><td>{{ test.DocumentTracking.Identification.ID.valueOf_ }}</td></tr>
<tr><th>Tracking Alias:  </th><td>{% for a in test.DocumentTracking.Identification.Alias%} {{a.valueOf_}}<br/>{% endfor %}</td></tr>
<tr><th>Tracking Status:  </th><td>{{ test.DocumentTracking.Status }}</td></tr>
<tr><th>Tracking Version:  </th><td>{{ test.DocumentTracking.Version }}</td></tr>
<tr><th>Intial Release Date:  </th><td>{{ test.DocumentTracking.InitialReleaseDate }}</td></tr>
<tr><th>Current Release Date:  </th><td>{{ test.DocumentTracking.CurrentReleaseDate }}</td></tr>
<tr><th>DocumentDistribution:  </th><td>{{ test.DocumentDistribution.valueOf_ }}</td></tr>
<tr><th>Generator Engine:  </th><td>{{ test.DocumentTracking.Generator.Engine.valueOf_ }}</td></tr>
<tr><th>Generator Date:  </th><td>{{ test.DocumentTracking.Generator.Date }}</td></tr>
</table>
<!-- Revision History -->
<table width="90%">
<thead>
<tr>
<tr><th width="100%" colspan=3>Revision History</th></tr>
</tr>
<tr>
<th width="17%">Number</th>
<th width="17%">Date</th>
<th width="66%">Revision Description</th>
</tr>
</thead>
<tbody>
{% for item in test.DocumentTracking.RevisionHistory.Revision %}
<tr>
<td>{{ item.Number }}</td>
<td>{{ item.Date }}</td>
<td>{{ item.Description.valueOf_ }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
<!-- Document Notes -->
<div>
<table width="90%">
<thead>
<tr><th width="100%" colspan=3>Document Notes</th></tr>
<tr>
<th width="17%">Type</th>
<th width="17%">Title</th>
<th width="66%">Note</th>
</tr>
</thead>
<tbody>
{% for note in test.DocumentNotes.Note %}
<tr>
<td>{{ note.Type }}</td>
<td>{{ note.Title }}</td>
<td>{{ note.valueOf_ }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
<!-- Document References -->
<div>
<table width="90%">
<thead>
<tr><th width="100%" colspan=3>Document References</th></tr>
<tr>
<th width="17%">Type</th>
<th width="17%">URL</th>
<th width="66%">Description</th>
</tr>
</thead>
<tbody>
{% for ref in test.DocumentReferences.Reference %}
<tr>
<td>{{ ref.Type }}</td>
<td>{{ ref.URL }}</td>
<td>{{ ref.Description.valueOf_}}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
<!-- Full Product Name -->
<div>
<table width="90%">
<thead>
<tr><th width="100%" colspan=3>Product Tree</th></tr>
<tr>
<th width="17%">ProductID</th>
<th width="17%">CPE</th>
<th width="66%">Full Product Name</th>
</tr>
</thead>
<tbody>
{% for item in test.ProductTree.FullProductName %}
<tr>
<td>{{ item.ProductID }}</td>
<td>{{ item.CPE }}</td>
<td>{{ item.valueOf_ }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
<!-- Vulnerabilities -->
<div>
<table width="90%">
<thead>
<tr><th width="100%" colspan=3>Vulnerabilities</th></tr>
</thead>
<tbody>
{% for item in test.Vulnerability %}
<tr>
<tr> <th width="100%" colspan=3 style="background-color:blue"> Vulnerability {{item.Ordinal}}</th> </tr>
<tr> <th width="17%">CVE</th> <th colspan=2>Vulnerability Title</th> </tr>
<tr> <td width="17%">{{ item.CVE }}</td><td colspan=2>{{ item.Title.valueOf_ }}</td></tr>
<tr><th width="17%">Type</th><th width="17%">Title</th><th width="66%">Vulnerability Note</th></tr>
	{% for note in item.Notes.Note %}
	<tr><td>{{note.Type}}</td><td>{{note.Title}}</td><td >{{ note.valueOf_}}</td></tr>
	{% endfor %}
<tr> <th width="17%">Type</th> <th colspan=2>Product ID</th></tr>
	{% for prod in item.ProductStatuses.Status %}
	<tr><td >{{ prod.Type }}</td>
	    <td colspan=2>
			{% for pid in prod.ProductID %}
		       {{pid}}<br/>
			{% endfor %}
		</td>
    </tr>
	{% endfor %}
<tr> <th width="17%">Type</th> <th colspan=2>Threat Description</th> </tr>
	{% for threat in item.Threats.Threat %}
	<tr>
	<td>{{ threat.Type }}</td>
	<td colspan=2> {{ threat.Description.valueOf_ }}</td>
	</tr>
	{% endfor %}
<tr> <th colspan=3>CVSS Score Set</th></tr>
<tr> <th width="17%">Base Score</th> <th>Temporal Score</th> <th>Vector</th> </tr>
	{% for cvss in item.CVSSScoreSets.ScoreSet %}
	<tr>
	<td>{{ cvss.BaseScore }}</td>
	<td>{{ cvss.TemporalScore }}</td>
	<td  colspan=2>{{ cvss.Vector }}</td>
	</tr>
	{% endfor %}
<tr> <th width="17%">Type</th> <th colspan=2>Remediation</th> </tr>
	{% for rem in item.Remediations.Remediation %}
	<tr>
	<td>{{ rem.Type }}</td>
	<td  colspan=2>{{ rem.Description.valueOf_ }}</td>
	</tr>
	{% endfor %}
<!-- Acknowlegements are nested in Vulnerability AND  at top level --> 
<tr><th width="100%" colspan=3>Acknowledgements</th></tr>
<tr> <th width="17%">Name</th><th width="17%">Organization</th> <th>Description</th> </tr>
	{% for ack in item.Acknowledgments.Acknowledgment %}
	<tr>
	<td width="17%">
		{% for n in ack.Name %} {{ n.valueOf_  }} {% endfor %}
	</td>
	<td width="17%">
		{% for n in ack.Organization %} {{ n.valueOf_  }} {% endfor %}
	</td>
	<td>{{ ack.Description.valueOf_ }}</td>
	</tr>
	{% endfor %}
{% endfor %}
</div>
</tbody>
</table>
<!--/div>
</tbody>
</table>
</div -->
<!-- Acknowledgements -->
<div>
<table width="90%">
<thead>
<tr><th width="100%" colspan=3>Acknowledgements</th></tr>
<tr>
<th width="17%">Name</th>
<th width="17%">Organization</th>
<th width="66%">Description</th>
</tr>
</thead>
<tbody>
	{% for ack in test.Acknowledgments.Acknowledgment %}
	<tr>
	<td width="17%">
		{% for n in ack.Name %} {{ n.valueOf_  }} {% endfor %}
	</td>
	<td width="17%">
		{% for n in ack.Organization %} {{ n.valueOf_  }} {% endfor %}
	</td>
	<td>{{ ack.Description.valueOf_ }}</td>
	</tr>
	{% endfor %}
</tbody>
</table>
</div>
</body>
</html>
