{% block secondary %}
<div class="applet" title="cvrf">
    <div class="applet" title="CISCO">
        <a href="/cvrf/cisco/index"
        <table><tr>
        <td style="vertical-align:middle;"><img src="/static/icons/cisco-small.png" width="32px" height="32px"></td>
        <td style="vertical-align:middle;"> CISCO Vendor CVRF</td>
        </tr></table>
    </div>
    <div class="applet" title="Microsoft">
        <a href="/cvrf/microsoft/index"
        <table><tr>
        <td style="vertical-align:middle;"><img src="/static/icons/msrc-small.jpeg" width="32px" height="32px"></td>
        <td style="vertical-align:middle;"> Microsoft Vendor CVRF</td>
        </tr></table>
    </div>
    <div class="applet" title="Oracle">
        <a href="/cvrf/oracle/index"
        <table><tr>
        <td style="vertical-align:middle;"><img src="/static/icons/oracle-small.png" width="32px" height="32px"></td>
        <td style="vertical-align:middle;"> Oracle Vendor CVRF</td>
        </tr></table>
    </div>
    <div class="applet" title="Red Hat">
        <a href="/cvrf/redhat/index"
        <table><tr>
        <td style="vertical-align:middle;"><img src="/static/icons/redhat-small.jpeg" width="32px" height="32px"></td>
        <td style="vertical-align:middle;"> Red Hat Vendor CVRF</td>
        </tr></table>
    </div>
</div>
{% endblock %}
