{% block content %}
<div class="applet" title="iavm">
    <div class="applet" title="DISA">
        <a href="/iavm/disa/import"
        <table><tr>
        <td style="vertical-align:middle;"><img src="/static/icons/uscert-small.png" width="32px" height="32px"></td>
        <td style="vertical-align:middle;">{% include "arrow130.svg" %}</td>
        <td style="vertical-align:middle;">{% include "database16.svg" %}</td>
        <td style="vertical-align:middle;"> Import DISA IAVM</td>
        </tr></table>
    </div>
</div>
{% endblock %}
