{% extends "vuln_base.html" %}

{% block style %}
<link rel='stylesheet' id='custom-style-css'  href='/static/styles/css/cvrf.css' type='text/css' media='all' />
{% endblock %}

{% block navpath %}
<div><a href="/vuln/">vuln</a> >> <a href="/cve/">cve</a> >> <a href="/cve/nist">nist</a> >> <a href="/cve/nist/import/">import</a></div>
{% endblock %}
{% block content %}
	{% if files %}
	<div>
		<p>The following NIST NVD CVE were uploaded:</p>
		<ul>
		{% for f in files %}
		<li>{{f}}</li>
		{% endfor %}
		</ul>
	</div>
	{% else %}
    <div id="download">
		<p>The NIST NVD CVE contains over 50,000 entries.</p>
		<p>Download and import takes some time. Please be patient.</p>
	</div>
    <div id="import_error">
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	</div>
	<div>
        <form enctype="multipart/form-data" action="/cve/nist/import" method="post">
            {% csrf_token %}
			<p>---</p>
			<p>Select to import:</p> 
			<p><input type="submit" value="Import" /></p>
			<p>---</p>
        </form>
    </div>
	{% endif %}

	
{% endblock %}
