{% block secondary %}
<aside id="text-6" class="widget widget_text">
<p class="widget-title">Vendor SWCAT</p>  
</aside>

<!-- SEARCH:SEARCH11 -->
<!--  aside id="text-6" class="widget widget_text">
<a href="/swcat/search">
<table><tr><td style="vertical-align:middle;">{! include "search11.svg" !}</td>
<td style="vertical-align:middle;"> Search Asset Lists</td></tr></table>
</a>
</aside -->

<!-- INDEX:DOCUMENT20 -->
<aside id="text-6" class="widget widget_text">
<a href="/swcat/index">
<table><tr><td style="vertical-align:middle;">{% include "document20.svg" %}</td>
<td style="vertical-align:middle;"> Component Information</td></tr></table>
</a>
</aside>

<!-- CATALOG:LIST18 -->
<aside id="text-6" class="widget widget_text">
<a href="/swcat/catalog">
<table><tr><td style="vertical-align:middle;">{% include "list18.svg" %}</td>
<td style="vertical-align:middle;"> Asset Catalogs</td></tr></table>
</a>
</aside>

<!-- APPLY:MASHUP -->
<!-- aside id="text-6" class="widget widget_text">
<a href="/swcat/apply">
<table><tr><td style="vertical-align:middle;">{! include "mashup.svg" !}</td>
<td style="vertical-align:middle;"> Applicability Analysis</td></tr></table>
</a>
</aside -->

<!-- IMPORT:UPLOAD14 -->
<aside id="text-6" class="widget widget_text">
<a href="/swcat/import">
<table><tr><td style="vertical-align:middle;">{% include "upload14.svg" %}</td>
<td style="vertical-align:middle;"> Imports</td></tr></table>
</a>
</aside>

{% endblock %}
