{% block content %}
<div class="applet" title="cpe">
    <div class="applet" title="NIST">
        <a href="/cpe/nist/index"
        <table><tr>
        <td style="vertical-align:middle;"><img src="/static/icons/nist-small.jpg" width="32px" height="32px"></td>
        <td style="vertical-align:middle;">{% include "arrow130.svg" %}</td>
        <td style="vertical-align:middle;">{% include "document20.svg" %}</td>
        <td style="vertical-align:middle;"> Info on NIST NVD CPE</td>
        </tr></table>
    </div>
    <div class="applet" title="Red Hat">
        <a href="/cpe/redhat/index"
        <table><tr>
        <td style="vertical-align:middle;"><img src="/static/icons/redhat-small.jpeg" width="32px" height="32px"></td>
        <td style="vertical-align:middle;">{% include "arrow130.svg" %}</td>
        <td style="vertical-align:middle;">{% include "document20.svg" %}</td>
        <td style="vertical-align:middle;"> Info on Red Hat Vendor CPE</td>
        </tr></table>
    </div>
</div>
{% endblock %}
