{% block content %}
<div>
<p>CPE is a structured naming scheme for information technology systems, software, and packages. For reference, Red Hat provides a dictionary mapping the CPE names Red Hat uses, to Red Hat product descriptions. Some of these CPE names will be for new products that are not in the official CPE dictionary, and should therefore be treated as temporary CPE names.</p>
<p>-- <a href="https://www.redhat.com/security/data/metrics/">Red Hat Security Measurement</a></p>
</div>
{% endblock %}
