{% block content %}
<div class="applet" title="cve">c
    <div class="applet" title="NIST">
        <a href="/cce/nist/index"
        <table><tr>
        <td style="vertical-align:middle;"><img src="/static/icons/nist-small.jpg" width="32px" height="32px"></td>
        <td style="vertical-align:middle;">{% include "arrow130.svg" %}</td>
        <td style="vertical-align:middle;">{% include "document20.svg" %}</td>
        <td style="vertical-align:middle;"> Info on NIST NVD CCE</td>
        </tr></table>
    </div>
</div>
{% endblock %}
