{% extends "base.html" %}

{% block secondary %}
<!-- SEARCH:SEARCH11 -->
<!--  aside id="text-6" class="widget widget_text">
<p>
<a href="/vuln/search">
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
<path d="M19.035,15.036C19.646,13.821,19.999,12.453,20,11c-0.002-4.973-4.029-9-9-9.002C6.027,2,2,6.027,1.999,11
	C2,15.971,6.027,19.998,11,20c1.453-0.001,2.82-0.354,4.035-0.965L26,30l4-4L19.035,15.036z M11,18c-3.868-0.009-6.994-3.133-7-7
	c0.006-3.868,3.132-6.994,7-7c3.867,0.006,6.991,3.132,6.999,7.001C17.991,14.868,14.867,17.992,11,18z"/>
</svg>
</a>
Search Vulnerabilities
</p>
</aside -->

<!-- INDEX:DOCUMENT20 -->
<aside id="text-6" class="widget widget_text">
<p>
<a href="/asset/index">
<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
<g>
    <path d="M24,14.059V5.584L18.414,0H0v32h24v-0.059c4.499-0.5,7.998-4.309,8-8.941C31.998,18.366,28.499,14.556,24,14.059z
         M17.998,2.413L21.586,6h-3.588V2.413z M2,30V1.998h14v6.001h6v6.06c-4.501,0.498-8,4.308-8,8.941c0,2.829,1.308,5.352,3.35,7H2z
         M23,29.883c-3.801-0.009-6.876-3.084-6.885-6.883c0.009-3.801,3.084-6.876,6.885-6.885c3.799,0.009,6.874,3.084,6.883,6.885
        C29.874,26.799,26.799,29.874,23,29.883z"/>
    <rect x="22" y="22" width="2" height="6"/>
    <rect x="22" y="18" width="2" height="2"/>
</g>
</svg>
</a>
Component Information
</p>
</aside>

<!-- CATALOG:LIST18 -->
<aside id="text-6" class="widget widget_text">
<p>
<a href="/asset/catalog">
<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
<g>
	<rect x="10" y="4" width="20" height="2"/>
	<rect x="10" y="14" width="20" height="2"/>
	<rect x="10" y="24" width="20" height="2"/>
	<rect x="2" y="24" width="6" height="6"/>
	<rect x="2" y="14" width="6" height="6"/>
	<rect x="2" y="4" width="6" height="6"/>
</g>
</svg>
</a>
Asset Catalogs
</p>
</aside>

<!-- APPLY:MASHUP -->
<!-- aside id="text-6" class="widget widget_text">
<p>
<a href="/vuln/apply">
<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
<polygon points="4,18 8,18 8,22 14,16 8,10 8,14 4,14 4,0 0,4 0,30 4,26 "/>
<polygon points="18.001,24 22,24 16,18 10,24 14.001,24 14.001,28 6,28 2,32 26,32 26,28 18.001,28 "/>
<polygon points="14,12 16,14 18,12 18,8 24,8 16,0 8,8 14,8 "/>
<polygon points="28,4 28,14 24,14 24,10 18,16 24,22 24,18 28,18 28,32 32,28 32,0 "/>
</svg>
</a>
Applicability Analysis
</p>
</aside -->

<!-- IMPORT:UPLOAD14 -->
<aside id="text-6" class="widget widget_text">
<p>
<a href="/asset/import">
<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
<path d="M2,18v8h28v-8H2z M8,24H4v-2h4V24z"/>
<path d="M22,8h-4v6h-4V8h-4l6-6L22,8z"/>
</svg>
</a>
Import
</p>
</aside>

{% endblock %}
