{% extends "base.html" %}

{% block navpath %}
<div>>> <a href="/">home</a></div>
{% endblock %}

{% block content %}
 <p>Hello Main Content</p>
{% endblock %}

{% block secondary %}
			<aside id="text-6" class="widget widget_text">
				<p class="widget-title">EXTERNAL LINKS</p>	
			</aside>
			<aside id="text-6" class="widget widget_text">
				<p class="widget-title">MITRE: Measurable Security</p>	
				<div class="textwidget"><a href="http://measurablesecurity.mitre.org/"><img src="/static/icons/mitre-small.png"></a></div>
			</aside>
			<aside id="text-6" class="widget widget_text">
				<p class="widget-title">Python 2.7</p>	
				<div class="textwidget"><a href="https://www.python.org/"><img src="/static/icons/python-small.png"></a></div>
			</aside>
			<aside id="text-6" class="widget widget_text">
				<p class="widget-title">Django 1.6</p>	
				<div class="textwidget"><a href="https://www.djangoproject.com/"><img src="/static/icons/django-small.png"></a></div>
			</aside>
			<aside id="text-6" class="widget widget_text">
				<p class="widget-title">eXist-db</p>	
				<div class="textwidget"><a href="http://exist-db.org/exist/apps/homepage/index.html"><img src="/static/icons/existdb-150x55.png"></a></div>
			</aside>
			<aside id="text-6" class="widget widget_text">
				<p class="widget-title">Nitrous.IO</p>	
				<div class="textwidget"><a href="https://www.nitrous.io/"><img src="/static/icons/nitrous-logo-150x150.png" height="73px" width="73px"></a></div>
			</aside>
			<aside id="text-6" class="widget widget_text">
				<p class="widget-title">GitHub</p>	
				<div class="textwidget"><a href="https://www.github.com/cyberxml/"><img src="/static/icons/github-150x150.jpg" height="73px" width="73px"></a></div>
			</aside>

{% endblock %}
