{% extends "base.html" %}

{% block navpath %}
<div>>> <a href="/">home</a></div>
{% endblock %}

{% block content %}
 <img src="/static/images/msm-mitre.png"/>
 <div><u>MAKING SECURITY MEASURABLE AND MANAGEABLE</u> (Martin, 2008) <a href="http://measurablesecurity.mitre.org/about/Making_Security_Measurable_and_Manageable.pdf">(pdf)</a> <a href="http://ieeexplore.ieee.org/xpl/login.jsp?tp=&arnumber=4753203&url=http%3A%2F%2Fieeexplore.ieee.org%2Fxpls%2Fabs_all.jsp%3Farnumber%3D4753203">(ieee)</a> <a href=" http://msm.mitre.org/about/">(Learn More)</a></div>

{% endblock %}

{% block secondary %}
			<aside id="text-6" class="widget widget_text">
				<p class="widget-title">EXTERNAL LINKS</p>	
			</aside>
			<aside id="text-6" class="widget widget_text">
                <div class="textwidget"><div><a href="http://measurablesecurity.mitre.org/"><img src="/static/icons/mitre-small.png" style="width:32px;height:32px;vertical-align:middle"></a> MITRE: Measurable Security</div></div>
			</aside>
			<aside id="text-6" class="widget widget_text">
				<div class="textwidget"><a href="https://www.python.org/"><img src="/static/icons/python-small.png" style="width:32px;height:32px;vertical-align:middle"></a> Python 2.7</div>
			</aside>
			<aside id="text-6" class="widget widget_text">
				<div class="textwidget"><a href="https://www.djangoproject.com/"><img src="/static/icons/django-small.png" style="width:32px;height:32px;vertical-align:middle"></a> Django 1.6</div>
			</aside>
			<aside id="text-6" class="widget widget_text">
				<div class="textwidget"><a href="http://exist-db.org/exist/apps/homepage/index.html"><img src="/static/icons/existdb-150x55.png" style="width:32px;height:32px;vertical-align:middle"></a> eXist-db</div>
			</aside>
			<aside id="text-6" class="widget widget_text">
				<div class="textwidget"><a href="https://www.nitrous.io/"><img src="/static/icons/nitrous-logo-150x150.png" style="width:32px;height:32px;vertical-align:middle"></a> Nitrous.IO</div>
			</aside>
			<aside id="text-6" class="widget widget_text">
				<div class="textwidget"><a href="https://www.github.com/cyberxml/"><img src="/static/icons/github-150x150.jpg" style="width:32px;height:32px;vertical-align:middle"></a> GitHub</div>
			</aside>

{% endblock %}
