{% extends "vuln_base.html" %}

{% block content %}
	<div id="secondary" class="widget-area" role="complementary" style="float:left">
			<aside id="text-6" class="widget widget_text">
				<p class="widget-title">INTERNAL LINKS</p>	
			</aside>
			<aside id="text-6" class="widget widget_text">
				<p class="widget-title">Microsoft CVRF</p>	
				<div class="textwidget"><a href="/cvrf/ms/"><img src="/static/icons/msrc-small.jpeg"></a></div>
			</aside>
			<aside id="text-6" class="widget widget_text">
				<p class="widget-title">Redhat CVRF</p>	
				<div class="textwidget"><a href="/cvrf/redhat/"><img src="/static/icons/redhat-small.jpeg"></a></div>
			</aside>
			<aside id="text-6" class="widget widget_text">
				<p class="widget-title">Cisco CVRF</p>	
				<div class="textwidget"><a href="/cvrf/cisco/"><img src="/static/icons/cisco-small.png"></a></div>
			</aside>
			<aside id="text-6" class="widget widget_text">
				<p class="widget-title">Oracle CVRF</p>	
				<div class="textwidget"><a href="/cvrf/oracle/"><img src="/static/icons/oracle-small.png"></a></div>
			</aside>
	</div>
{% endblock %}

