{% extends "base.html" %}

{% block secondary %}
			<aside id="text-6" class="widget widget_text">
				<p class="widget-title">EXTERNAL LINKS</p>	
			</aside>
			<aside id="text-6" class="widget widget_text">
				<p class="widget-title">NIST NVD CVE</p>	
				<div class="textwidget"><a href="http://nvd.nist.gov/"><img src="/static/icons/nist_small.jpg"></a></div>
			</aside>
			<aside id="text-6" class="widget widget_text">
				<p class="widget-title">Microsoft CVRF</p>	
				<div class="textwidget"><a href="http://www.microsoft.com/en-gb/download/details.aspx?id=36982"><img src="/static/icons/msrc-small.jpeg"></a></div>
			</aside>
			<aside id="text-6" class="widget widget_text">
				<p class="widget-title">Redhat CVRF</p>	
				<div class="textwidget"><a href="https://www.redhat.com/security/data/cvrf/"><img src="/static/icons/redhat-small.jpeg"></a></div>
			</aside>
			<aside id="text-6" class="widget widget_text">
				<p class="widget-title">Cisco CVRF</p>	
				<div class="textwidget"><a href="http://tools.cisco.com/security/center/cvrfListing.x"><img src="/static/icons/cisco-small.png"></a></div>
			</aside>
			<aside id="text-6" class="widget widget_text">
				<p class="widget-title">Oracle CVRF</p>	
				<div class="textwidget"><a href="http://www.oracle.com/ocom/groups/public/@otn/documents/webcontent/1932662.xml"><img src="/static/icons/oracle-small.png"></a></div>
			</aside>


{% endblock %}
